@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #f9f9f9;
  --select-text-color: #1f1e22;
  --text-bg-color: #f9f9f9;
  --bg-url: url(assets/bgmobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --social-links-hover: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(assets/moon-stars.svg);
}

.light {
  --text-color: #1f1e22;
  --select-text-color: #f9f9f9;
  --text-bg-color: #1f1e22;
  --bg-url: url(assets/bgmobilelight.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.05);
  --social-links-hover: rgba(0, 0, 0, 0.2);
  --switch-bg-url: url(assets/sun.svg);
}

body {
  font-family: "Abel", sans-serif;
  color: var(--text-color);
  background-color: #1f1e22;
  /* background-image: url(assets/bgmobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; 

  background: color image repeat position/size */

  background: #fff var(--bg-url) no-repeat top center/cover;
  height: 100vh;

  transition: all 0.5s ease;
}

#container {
  width: 90%;
  max-width: 588px;
  /* height: 712px;
  border: 1px solid var(--text-color); */
  margin: auto;
  padding-top: 36px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  height: 112px;

  transition: all 0.5s ease;
}

#profile img:hover {
  scale: 1.1;
}

#name {
  margin-top: 15px;
  font-size: 16px;
}

#switch {
  position: relative;
  width: 64px;

  margin: 4px auto;
}

#switch button {
  text-align: center;

  width: 32px;
  height: 32px;

  border: 0;
  border-radius: 50%;
  background: #f9f9f9 var(--switch-bg-url) no-repeat center;

  left: 0;

  position: absolute;
  z-index: 1;

  top: 50%;
  transform: translateY(-50%);

  transition: all 0.2s ease-in-out;

  animation: slide-out 0.5s;
}

.light #switch button {
  /* right: 0; */
  /* left: 50%; */
  animation: slide-in 0.5s forwards;
}

#switch button:hover {
  outline: 10px solid var(--social-links-hover);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 50000px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* #darkmode {
  height: 30px;
} */

ul {
  list-style: none;

  display: flex;
  flex-direction: column;

  padding: 24px 0;
  gap: 16px;
}

ul li a {
  font-weight: 500;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 24px;

  border: 1px solid var(--stroke-color);
  background: var(--surface-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  transition: all 0.2s ease;
}

/* Pseudo-Selector */
ul li a:hover {
  scale: 1.03;

  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
  border-radius: 6px;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

#social-links {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 8px;

  padding: 24px 0;

  font-size: 24px;
}

#social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 50%;

  transition: background 0.4s;
}

#social-links a:hover {
  background: var(--social-links-hover);
  scale: 1.1;
}

footer {
  padding: 24px 0;
  font-size: 14px;
  color: var(--text-color);
  text-align: center;
}

a {
  color: var(--text-color);
}

/* media queries */
@media (min-width: 768px) {
  :root {
    --bg-url: url(assets/bgdesktop.jpg);
  }

  .light {
    --bg-url: url(assets/bgdesktoplight.jpg);
  }
}

/* @media (prefers-color-scheme: dark) {
  .test {
    border: 1px solid #ffffff;
  }
} */

/* animations */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}

/* Avatar Pop-up */

.overlay {
  visibility: hidden;
  opacity: 0;

  z-index: 998;
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  transition: all 0.3s ease-in-out;
}

.popup {
  visibility: hidden;
  opacity: 0;

  border: 1px solid var(--stroke-color);

  z-index: 999;
  position: fixed;

  max-height: 90%;
  max-width: 588px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--surface-color);
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  transition: all 0.3s ease-in-out;
}

.show {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 500px) {
  .popup {
    padding: 15px;
    width: 70%;
  }
}

.popup img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

.popup .text {
  padding: 10px;
  max-width: 460px;
  max-height: 300px;
  margin-top: 3vh;
  text-align: center;
  overflow: auto;
}

.closeButton {
  height: 32px;
  width: 32px;

  text-align: center;
  margin: 0 auto;
  color: var(--text-color);
  font-size: 2em;
  margin-top: 3vh;

  border-radius: 50%;

  transition: all 0.4s ease;
}

.closeButton:hover {
  background: var(--social-links-hover);
  transform: scale(1.1);
}

/* Selection Color */
::-moz-selection {
  /* Code for Firefox */
  color: var(--select-text-color);
  background: var(--text-bg-color);
}

::selection {
  color: var(--select-text-color);
  background: var(--text-bg-color);
}
