@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #f9f9f9;
  --bg-url: url(assets/bgmobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --social-links-hover: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(assets/moon-stars.svg);
}

.light {
  --text-color: #1f1e22;
  --bg-url: url(assets/bgmobilelight.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.05);
  --social-links-hover: rgba(0, 0, 0, 0.2);
  --switch-bg-url: url(assets/sun.svg);
}

body {
  font-family: "Abel", sans-serif;
  color: var(--text-color);
  background-color: #1f1e22;
  /* background-image: url(assets/bgmobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; 

  background: color image repeat position/size */

  background: #561a54 var(--bg-url) no-repeat top center/cover;
  height: 100vh;

  transition: all 0.5s ease;
}

#container {
  width: 90%;
  max-width: 588px;
  /* height: 712px;
  border: 1px solid var(--text-color); */
  margin: auto;
  padding-top: 36px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  height: 112px;

  transition: all 0.5s ease;
}

#profile img:hover {
  scale: 1.1;
}

#name {
  margin-top: 15px;
  font-size: 16px;
  transition: all 0.5s ease;
}

#switch {
  position: relative;
  width: 64px;

  margin: 4px auto;
}

#switch button {
  text-align: center;

  width: 32px;
  height: 32px;

  border: 0;
  border-radius: 50%;
  background: #f9f9f9 var(--switch-bg-url) no-repeat center;

  left: 0;

  position: absolute;
  z-index: 1;

  top: 50%;
  transform: translateY(-50%);

  transition: all 0.2s ease-in-out;

  animation: slide-out 0.5s;
}

.light #switch button {
  /* right: 0; */
  /* left: 50%; */
  animation: slide-in 0.5s forwards;
}

#switch button:hover {
  outline: 10px solid var(--social-links-hover);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 50000px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* #darkmode {
  height: 30px;
} */

ul {
  list-style: none;

  display: flex;
  flex-direction: column;

  padding: 24px 0;
  gap: 16px;
}

ul li a {
  font-weight: 500;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 24px;

  border: 1px solid var(--stroke-color);
  background: var(--surface-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  transition: all 0.2s ease;
}

/* Pseudo-Selector */
ul li a:hover {
  scale: 1.03;

  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
  border-radius: 6px;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

#social-links {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 8px;

  padding: 24px 0;

  font-size: 24px;
}

#social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 50%;

  transition: background 0.4s;
}

#social-links a:hover {
  background: var(--social-links-hover);
  scale: 1.1;
}

footer {
  padding: 24px 0;
  font-size: 14px;
  color: var(--text-color);
  text-align: center;
}

a {
  color: var(--text-color);
}

/* media queries */
@media (min-width: 768px) {
  :root {
    --bg-url: url(assets/bgdesktop.jpg);
  }

  .light {
    --bg-url: url(assets/bgdesktoplight.jpg);
  }
}

/* animations */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
